body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.gallery-item {
  width: 30%; /* Задаємо ширину елементів галереї, щоб вони розташовувалися по 3 в ряд */
  margin: 10px;
  cursor: pointer;
}

.gallery-link {
  text-decoration: none;
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.05);
}